@page
@using KonohagoWebApp.Helpers
@using Microsoft.AspNetCore.Http
@using KonohagoWebApp.Models
@model KonohagoWebApp.Pages.ProfileModel
@{
    var user = Model.User;
    bool IsOwner;
    if (HttpContext.Session.GetString("role") != Roles.Guest.ToString())
    {
        IsOwner = user.Id == HttpContext.Session.Get<User>("Current_user").Id;
    }
    else {
        IsOwner = false;
            };
}
<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="container-fluid main" style="height:100vh;padding-left:0px;">

        <div class="d-block d-md-none menu">

            <div class="bar"></div>

        </div>

        <div class="row align-items-center" style="height:70%">
            <div class="col-md-12">

                <div class="container content clear-fix">

                    <div class="row" style="height:100%">
                        <form method="post" enctype="multipart/form-data">
                            <div class="col-md-3">

                                <!--                        <div href=# class="d-inline"><img src="https://image.flaticon.com/icons/svg/236/236831.svg" width=130px style="margin:0;"><br>-->
                                <!--  <p class="pl-2 mt-2"><a href="#" class="btn" style="color:#8f9096;font-weight:600">Edit Picture</a></p></div>-->

                                <div href=# class="d-inline"><img src="@user.ImagePath" width=130></div>

                                @if (IsOwner)
                                {
                                    <p class="col-md-2">
                                        <input asp-for="Avatar" class="btn" type="file" style="color:#8f9096;font-weight:600;" placeholder="Edit picture" id="img" required>
                                    </p>
                                    <div class="row mt-5">

                                        <div class="col">

                                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>

                                        </div>

                                    </div>
                                }
                            </div>

                            <div class="col-md-9">

                                <div class="container">



                                    <div class="form-group">

                                        <label for=fullName>@user.Nickname</label>

                                    </div>
                                    @if (IsOwner)
                                    {
                                        <div class="form-group">

                                            <label for=email>@user.Email</label>
                                        </div>
                                    }

                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <div class="text">
            <h1>Мои любиииимые аниме</h1>
        </div>
        <p></p>
        <div class="row">
            @foreach (var anime in Model.animes)
            {
                <div class="col-md-4">
                    <div class="container">
                        <div class="u-clearfix u-sheet u-sheet-1">
                            <div class="u-expanded-width u-list u-repeater u-list-1">
                                <div class="u-container-style u-image u-list-item u-repeater-item u-image-1" data-image-width="1280" data-image-height="720">
                                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1" style="margin-top:30px">
                                        <img src="@anime.img_path" height="200" />
                                        <a href="/TitlePage?anime_id=@anime.Id"><h5 class="u-text u-text-default u-text-1">@anime.Name</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</body>